body {
    margin:0;
}
.d-flex{
    display: flex;
    justify-content: space-evenly;
    /* gap: 2rem; */
}
 
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
 
.bg3 {
    animation-duration:5s;
}
 
.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}
 
h2 {
    font-family:monospace;
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 2rem;
    color: cornflowerblue;
}
#label-no{
    font-size: 1.5rem;
}
#noChar{
    font-size: 1.5rem;
    width: 25%;
    background-color: transparent;
    border: 1px solid black;
    margin: 2rem 0; 
    margin-left: 1rem;
    padding: 0.8rem;
}
#gen{
    padding: 1rem 2rem;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1rem;
}
.genres p{
}
#gen:hover,#copy:hover{
    background-color: #6c3;
    color: #fff;
    border: #6c3 1px solid;
    transition: 0.5s;
}
#result{
    display: none;
}
#copy{
    padding: 0.5rem;
    border: #09f 2px solid;
    background-color: #09f;
    color: #fff;
}
#copy::before{
    content: "Copied";
    position: absolute;
    background-color: #09f;
    width: 3rem;
    bottom: -30%;
    right: 18%;
    padding: 0.25rem .5rem;
    border-radius: 20px;
    display: none;
}
#copy:active #copy::before{
    display: block;
}
#copy-text{
    color: #6c3;
    font-weight: 600;
    font-size: 1.2rem;
}
.copy-res-cont{
    width: 70%;
}
.copy-cont{
    width: 20%;
    position: relative;
}
.res-title{
    color: cadetblue;
    font-size: 1.5rem;
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}